<h1>All Ideas</h1>

<table border="1">
  <tr>
    <th>Symbol</th>
    <th>Date</th>
    <th>Price</th>
    <th>Cur Price</th>
    <th>% Chg</th>
    <th>Comment</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.symbol, article_path(article) %></td>
      <td><%= article.date %></td>
      <td class="number"><%= article.price %></td>
      <td class="number"></td>
      <td></td>
      <td><%= article.comment %></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to "Create a New Idea", new_article_path %>
